Repository MicrosoftDocs/OfficeDocs-SkypeForBusiness, pull requests merged in 2018-06, with the labels that each got.

#422 Update migrating-to-direct-routing.md
  Skype/SfbServer/skype-for-business-hybrid-solutions/plan-your-phone-system-cloud-pbx-solution/migrating-to-direct-routing.md
Labels: Skype for Business Server

#426 Update needed. INcorrect info
  Teams/guest-access-checklist.md
Labels: Microsoft Teams

#410 Update provisioning-skype-room-system-accounts-in-office-365.md
  Skype/SfbServer/deploy/deploy-clients/provisioning-skype-room-system-accounts-in-office-365.md
Labels: Microsoft Teams, Room Systems v2, Skype for Business Online

#488 Adding row for Kerberos Authentication
  Skype/SfbServer/plan-your-deployment/clients-and-devices/desktop-feature-comparison.md
Labels: Skype for Business Server
