Repository MicrosoftDocs/OfficeDocs-SkypeForBusiness, pull requests merged in 2018-07, with the labels that each got.

#503 Update Tutorial-Meetings-in-Teams.yml
  Teams/Tutorial-Meetings-in-Teams.yml
Labels: Microsoft Teams

#502 Update Tutorial-Journey-SkypeforBusiness-to-Teams.yml
  Teams/Tutorial-Journey-SkypeforBusiness-to-Teams.yml
Labels: Microsoft Teams

#501 Update Tutorial-Calling-in-Teams.yml
  Teams/Tutorial-Calling-in-Teams.yml
Labels: Microsoft Teams

#500 Update Tutorial-Audio-Conferencing.yml
  Teams/Tutorial-Audio-Conferencing.yml
Labels: Microsoft Teams

#499 Update special-character-restrictions-in-policy-names.md
  Teams/special-character-restrictions-in-policy-names.md
Labels: Microsoft Teams

#465 Update guest-joins.md
  Teams/guest-joins.md
Labels: Microsoft Teams

#452 Update limits-specifications-teams.md
  Teams/limits-specifications-teams.md
Labels: Microsoft Teams

#423 Changing header levels
  Skype/SfbOnline/optimizing-your-network/security-guide-for-skype-for-business-online.md
Labels: Skype for Business Online

#493 Configure online hybrid med server - Change
  Skype/SfbServer/skype-for-business-hybrid-solutions/plan-your-phone-system-cloud-pbx-solution/configure-cloud-connector-integration-with-your-office-365-tenant.md
Labels: Skype for Business Server

#478 Added verified content
  Skype/SfbServer/skype-for-business-hybrid-solutions/plan-your-phone-system-cloud-pbx-solution/troubleshoot-your-cloud-connector-deployment.md
Labels: Skype for Business Online, Skype for Business Server

#515 Update Tutorial-Calling-in-Teams.yml
  Teams/Tutorial-Calling-in-Teams.yml
Labels: Microsoft Teams

#514 modifed previous issue to Bold
  Skype/SfbServer/skype-for-business-hybrid-solutions/plan-your-phone-system-cloud-pbx-solution/troubleshoot-your-cloud-connector-deployment.md
Labels: Skype for Business Server

#481 Update cloud-voice-deployment.md
  Teams/cloud-voice-deployment.md
Labels: Microsoft Teams

#496 Update cloud-voice-deployment.md
  Teams/cloud-voice-deployment.md
Labels: Microsoft Teams

#497 macOS and Jamf Pro references
  Teams/get-clients.md
Labels: Microsoft Teams

#498 Couple more OSX corrections
  Teams/get-clients.md
Labels: Microsoft Teams

#529 Add note based on support engineering knowledge.
  Skype/SfbServer/skype-for-business-hybrid-solutions/plan-your-phone-system-cloud-pbx-solution/deploy-media-bypass-in-cloud-connector.md
Labels: Skype for Business Server

#470 Update hardware-and-software-requirements.md
  Skype/SfbServer/plan-your-deployment/persistent-chat-server/hardware-and-software-requirements.md
Labels: Skype for Business Server

#507 Update Environmental-discovery-for-Microsoft-Teams-rollout.md
  Teams/Environmental-discovery-for-Microsoft-Teams-rollout.md
Labels: Microsoft Teams

#506 Update 1-onboard-prepare-my-service.md
  Teams/1-onboard-prepare-my-service.md
Labels: Microsoft Teams

#504 Update onboarding-checklist-configure-direct-routing-in-Microsoft-Tea…
  Teams/onboarding-checklist-configure-direct-routing-in-Microsoft-Teams.md
Labels: Microsoft Teams

#505 Update 2-envision-make-my-service-decisions-direct-routing.md
  Teams/2-envision-make-my-service-decisions-direct-routing.md
Labels: Microsoft Teams

#538 Fix link to point to Set-CsOnlineDialInConferencingTenantSettings.
  Skype/SfbOnline/audio-conferencing-in-office-365/turn-on-or-off-entry-and-exit-announcements-for-meetings.md
Labels: Skype for Business Online

#533 Add note based on customer research.
  Skype/SfbOnline/what-is-phone-system-in-office-365/getting-phones-for-skype-for-business-online/setting-up-common-area-phones.md
Labels: Skype for Business Online

#558 Update ITAdmin-readiness.md
  Teams/ITAdmin-readiness.md
Labels: Microsoft Teams

#566 Update direct-routing-border-controllers.md
  Teams/direct-routing-border-controllers.md
Labels: Microsoft Teams

#563 Add check for TeamsPath before deleting
  Teams/scripts/Powershell-script-teams-deployment-clean-up.md
Labels: Microsoft Teams

#569 Update user-access.md
  Teams/user-access.md
Labels: Microsoft Teams

#575 Replace "accepted domain" to "allowed domain"
  Teams/SMTP-accepted-domain.md
Labels: Microsoft Teams

#576 Remove a content about automatic picture download
  Teams/SMTP-accepted-domain.md
Labels: Microsoft Teams
