Repository MicrosoftDocs/OfficeDocs-SkypeForBusiness, pull requests merged in 2018-08, with the labels that each got.

#573 Update xml-config-file.md
  Skype/SfbServer/manage/skype-room-systems-v2/xml-config-file.md
Labels: Room Systems v2

#593 Typo in prerequisites PowerShell code
  Skype/SfBServer2019/plan/system-requirements.md
Labels: Skype for Business Server

#633 Update Office-365-set-up.md
  Teams/Office-365-set-up.md
Labels: Microsoft Teams

#673 Update srs2-release-note.md
  Skype/SfbServer/plan-your-deployment/clients-and-devices/srs2-release-note.md
Labels: Microsoft submitter

#681 Update SCCM guidance
  Skype/SfbServer/deploy/deploy-clients/room-systems-scale.md
Labels: Microsoft submitter

#676 Updated spelling error.
  Teams/direct-routing-configure.md
Labels: Microsoft Teams

#675 Update Exchange-Teams-interact.md
  Teams/Exchange-Teams-interact.md
Labels: Microsoft Teams

#672 Updating capability limitation section
  Teams/plan-for-government-gcc.md
Labels: Microsoft Teams

#666 Update direct-routing-plan.md
  Teams/direct-routing-plan.md
Labels: Microsoft Teams

#689 Update ms.reviewer.
  Teams/Teams-dependencies.md
Labels: Microsoft submitter

#683 Update direct-routing-configure.md
  Teams/direct-routing-configure.md
Labels: Microsoft submitter

#690 Update Known-issues.md
  Teams/Known-issues.md
Labels: Microsoft Teams

#674 Licensing requirements; SDS sets hidden membership
  Teams/plan-teams-governance-edu.md
Labels: Microsoft Teams

#709 Updating for features enabled in CU7
  Skype/SfbServer/plan-your-deployment/clients-and-devices/desktop-feature-comparison.md
Labels: Microsoft submitter

#712 Fix issue #692 (AdminAutoLogon type)
  Skype/SfbServer/manage/skype-room-systems-v2/room-systems-v2-operations.md
Labels: Microsoft submitter

#720 Update requirements.md
  Skype/SfbServer/plan-your-deployment/clients-and-devices/requirements.md
Labels: Microsoft submitter
