Repository MicrosoftDocs/OfficeDocs-SkypeForBusiness, pull requests merged in 2024-02, with the labels that each got.

#10709 Release notes for MTR Windows 4.19.82
  Teams/rooms/rooms-release-note.md
Labels: Microsoft submitter, msteams/svc, itpro-rooms/subsvc, Tier3

#10714 Add pre-req note for Windows N SKU users.
  Teams/new-teams-deploy-using-policies.md
Labels: Microsoft submitter, msteams/svc

#10718 Update direct-routing-whats-new.md
  Teams/direct-routing-whats-new.md
Labels: Microsoft submitter, msteams/svc, Tier1

#10704 Update rooms-prep.md
  Teams/rooms/rooms-prep.md
Labels: msteams/svc, Tier1, itpro-rooms/subsvc
