Repository MicrosoftDocs/OfficeDocs-SkypeForBusiness, changes with the owners that CODEOWNERS names for each.
All owners: @dstrome, @CarolynRowe, @jambirk, @MicrosoftHeidi, @CrystalThomasMS, @AndreaBarr, @tonysmit, @lolajacobsen, @samanro, @chuckedmonson

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the owners below will be requested for
# review when someone opens a pull request.
*       @dstrome

# Order is important! The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/Skype/SfbServer/ @CarolynRowe @jambirk @MicrosoftHeidi @CrystalThomasMS @AndreaBarr
/Skype/SfBServer2019/ @CarolynRowe @jambirk @MicrosoftHeidi @CrystalThomasMS @AndreaBarr
/Skype/SfbOnline/ @tonysmit @lolajacobsen @AndreaBarr
/Skype/SfbPartnerCertification/ @jambirk @AndreaBarr
/Skype/Hub/ @samanro @AndreaBarr
/Teams/ @lolajacobsen @tonysmit @chuckedmonson @AndreaBarr
/Lync/ @CarolynRowe @jambirk @MicrosoftHeidi @AndreaBarr

Update plan-for-government-gcc.md
  Teams/plan-for-government-gcc.md
Owners: @lolajacobsen, @tonysmit, @chuckedmonson, @AndreaBarr

Update manage-external-access.md
  Teams/manage-external-access.md
Owners: @lolajacobsen, @tonysmit, @chuckedmonson, @AndreaBarr

Minor text formatting changes.
  Skype/SfbOnline/optimizing-your-network/security-guide-for-skype-for-business-online.md
Owners: @tonysmit, @lolajacobsen, @AndreaBarr

Update plan-for-government-gcc.md
  Teams/plan-for-government-gcc.md
Owners: @lolajacobsen, @tonysmit, @chuckedmonson, @AndreaBarr

Update encryption.md
  Skype/SfbServer/plan-your-deployment/security/encryption.md
Owners: @CarolynRowe, @jambirk, @MicrosoftHeidi, @CrystalThomasMS, @AndreaBarr

Update server-requirements.md
  Skype/SfbServer/plan-your-deployment/requirements-for-your-environment/server-requirements.md
Owners: @CarolynRowe, @jambirk, @MicrosoftHeidi, @CrystalThomasMS, @AndreaBarr

Update server-requirements.md
  Skype/SfbServer/plan-your-deployment/requirements-for-your-environment/server-requirements.md
Owners: @CarolynRowe, @jambirk, @MicrosoftHeidi, @CrystalThomasMS, @AndreaBarr

Update office-365-premium-pro-plus-or-business-online-plan.md
  Skype/SfbOnline/skype-for-business-and-microsoft-teams-add-on-licensing/license-options-based-on-your-plan/office-365-premium-pro-plus-or-business-online-plan.md
Owners: @tonysmit, @lolajacobsen, @AndreaBarr

Update schema-changes.md
  Skype/SfbServer/schema-reference/active-directory-schema-extensions-classes-and-attributes/schema-changes.md
Owners: @CarolynRowe, @jambirk, @MicrosoftHeidi, @CrystalThomasMS, @AndreaBarr

Update encryption.md
  Skype/SfbServer/plan-your-deployment/security/encryption.md
Owners: @CarolynRowe, @jambirk, @MicrosoftHeidi, @CrystalThomasMS, @AndreaBarr
